@import url('https://fonts.googleapis.com/css2?family=Joan&family=Poppins:wght@400;500;600&display=swap');
body{
    font-family: 'Joan', serif;
}
header{
    margin: auto;
    text-align: center;
    background-color: grey;
    border: 2px solid black;
}

.container{
    display: flex;
    width: 100%;
    table-layout: fixed;
    margin: 10px;

}
#navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    padding-top: 10px;
    font-size: 20px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #70877F;
}
a{
    margin: 13px;
    text-decoration: none;
    color: black;
}
a:hover{
    border-bottom: 2px solid black;
}
.container-inner{
    display: table-cell;
    flex-direction: column;
    margin: auto 20%;
    width: 600px;
    border: 2px solid black;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #70877F;
}
.mad-libs{
    display: table-cell;
    flex-direction: column;
    margin: auto 20%;
    width: 600px;
    border: 2px solid black;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.input{
    margin: 30px 13px 13px 13px;
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
    height: 30px;
    border: 1px solid black;
    background: none;
}
#container2{
    display: none;
    flex-direction: column;
    margin: auto 20%;
    width: 600px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    background-color: #70877F;
}
.tom-thumbs{
    display: table-cell;
    flex-direction: column;
    margin: auto 20%;
    width: 600px;
    border: 3px solid black;
    justify-content: center;
    text-align: center;
    align-items: center;
}
footer{
    border-top: 1px solid black;
}
 .white{
    background-color: white;
}
 .dark{
    background-color: gray;
}
